<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-facebook"
        version="0.0.0">
      
    <name>FacebookPlugin</name>
    <description>Cordova Plugin Facebook SDK</description>
    <keywords>cordova,facebook,sdk,attribution</keywords>
    <repo>https://github.com/creditiq/cordova-plugin-facebook.git</repo>
    <issue>https://github.com/creditiq/cordova-plugin-facebook/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=3.0.0" />
    </engines>

    <js-module name="facebookPlugin" src="www/facebookPlugin.js">
        <clobbers target="facebookPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FacebookPlugin">
                <param name="android-package" value="com.facebook.cordova.FacebookPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        </config-file>

        <framework src="com.facebook.android:facebook-android-sdk:4.8.+"/>

        <source-file src="src/android/FacebookPlugin.java" target-dir="src/com/facebook/cordova"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FacebookPlugin">
                <param name="ios-package" value="FacebookPlugin" />
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/FacebookPlugin.h" />
        <source-file src="src/ios/FacebookPlugin.m" />

        <framework src="src/ios/Bolts.framework" custom="true" />
        <framework src="src/ios/FBSDKCoreKit.framework" custom="true" />
        <framework src="src/ios/FBSDKLoginKit.framework" custom="true" />
        <framework src="src/ios/FBAudienceNetwork.framework" custom="true" />
        <resource-file src="src/ios/FacebookSDKStrings.bundle"/>
    </platform>

</plugin>